.header{
  color: white;
}

.listItem{
  margin-top: 2px;
  margin-bottom: 3px;
  line-height: 15px;
  font-size: 12px;
  background: #CFEAD9;
  border-radius: 5px;
  padding: 4px;
}
.list{
  text-align: left;
  padding-left: 0px;
}

.mongo{
  height: 12px;
  width: 10.5px;
}

.bio{
  font-size: 22px;
}

.title{
  margin-top: 10px;
  font-family: 'Times New Roman';
}
.Iphone{
  padding-top: 10%;
  padding-right: 0px;
}
.text-center{
  margin-bottom: 40px;
}
.mockup{
  padding-left: 40px;
  padding-right: 40px;
}

.text{
  margin-top: 20%;
}

.testy{
  text-align: center;
  display: none;
  z-index: 1;
  margin-left: 10px;
  position: absolute;
  height: 100%;
  background-color: black;
  opacity: .7;
  color: white;
  border-radius: 5px;
}
.mockup:hover .testy{
  display: inline-block;
}
.mockup:hover .device{
  opacity: .8;
}