.header{
  color: white;
}

.listItem{
  margin-top: 2px;
  margin-bottom: 3px;
  line-height: 15px;
  font-size: 12px;
  background: rgba(235,246,128, .5);
  border-radius: 5px;
  padding: 4px;
}

#about{
  padding-top: 0px;
  padding-bottom: 100px;
}

.about-header{
  background-color: #6AB0AA;
}

.list{
  text-align: left;
  padding-left: 0px;
}

.mongo{
  height: 12px;
  width: 10.5px;
}

.bio{
  font-size: 22px;
}

.btn-dark{
  background-color: #37465D;
}

.title{
  margin-top: 10px;
  font-family: 'Times New Roman';
}

.service-header{

  background-color: #FCA65F;
}
.mockup-section{
  margin-top: 8%;
}

.Iphone{
  padding-top: 10%;
  padding-right: 0px;
}
.text-center{
  margin-bottom: 40px;
}
.mockup{
  padding-left: 40px;
  padding-right: 40px;
}

.testy{
  z-index: 1;
  position: absolute;
  text-align: center;
  color: blue;
  height: 100%;
  width: auto;
}

.work-header{
  color: white;
  margin-top: 30px;
}

.mockup:hover{
  opacity: .75;
  border-radius: 10px;
}

#contact{
  background-color: silver;
}

.description{
  margin-top: 0px;
  margin-top: 10px;
}

.exit{
  color: white;
  background-color: rgba(0,0,0,0.7);
      margin-top: 10px;
}

.box-shadow-8dp {
    box-shadow: 6px -6px 10px -3px rgba(128,128,128, .8);
}

.special{
  visibility: hidden;
  position: absolute;
  text-align: left;
  background-color: white;
  right: 0px;
  margin-bottom: 50px;


}
.animated{ 
  visibility: visible !important; 
}
