p{
  color: #545454;
  font-size: 15px;
}

#about{
  background-color: #eaeaea;
}
#contact{
  background-color: #eaeaea;
}

.project-link{
  color: #337ab7;
}
.project-link:hover{
  color: #37465D;
}
.header{
  color: white;
}
.tessst{
  text-align: center;
}

.ion-chevron-down{
  color: #37465D;
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  margin-top: 50px;
}
.ion-chevron-down:hover{
  opacity: .8;
}

.listItem{
  margin-top: 2px;
  margin-bottom: 3px;
  line-height: 15px;
  font-size: 12px;
  background: rgba(235,246,128, .5);
  border-radius: 5px;
  padding: 4px;
}

#about{
  padding-top: 0px;
  padding-bottom: 100px;
}

.about-header{
  background-color: #6AB0AA;
}

.list{
  text-align: left;
  padding-left: 0px;
}

.mongo{
  height: 12px;
  width: 10.5px;
}

.streak{
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: "Times New Roman";
  color: #37465D;
}

.bio{
  font-size: 25px;
}

.btn-dark{
  background-color: #37465D;
}

.btn-dark:hover{
  background-color: #37465D;
  opacity: .8;
}

.btn-dark:active{
  background-color: #37465D;
  opacity: .8;
}

.btn-dark:focus{
  background-color: #37465D;
  opacity: .8;
}


.title{
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: 'Times New Roman';
  color: #37465D;
}

.service-header{

  background-color: #FCA65F;
}
.mockup-section{
  margin-top: 8%;
}

.Iphone{
  padding-top: 10%;
  padding-right: 0px;
}
.text-center{
  margin-bottom: 40px;
}
.mockup{
  padding-left: 40px;
  padding-right: 40px;
}

.testy{
  z-index: 1;
  position: absolute;
  text-align: center;
  color: blue;
  height: 100%;
  width: auto;
}

.work-header{
  color: white;
  margin-top: 30px;
}

.mockup:hover{
  opacity: .75;
  border-radius: 10px;
}

#contact{
  background-color: silver;
}

.description{
  color: #37465D;
  margin-top: 0px;
  margin-bottom: 10px;
}

.exit{
  color: white;
  background-color: rgba(0,0,0,0.7);
      margin-top: 10px;
}

.box-shadow-8dp {
/*    box-shadow: 6px -6px 10px -3px rgba(128,128,128, .8);*/
}

.special{
  visibility: hidden;
  position: absolute;
  text-align: left;
  background-color: white;
  right: 0px;
  margin-bottom: 50px;
/*  border-bottom: 5px solid #00C7AB;
border-top: 5px solid #00C7AB;*/

}
.animated{ 
  visibility: visible !important; 
}

.large{
  text-align: left;
  font-size: 50px;
  margin-top: 40px;
  margin-bottom: 40px;
}

