.background{
background-color: white;
}
.background:hover{
  cursor: default;
}

.headline{
  padding: 0;
margin-left: 1em;
}
.subHeadline{
  padding-bottom: 10px;
  margin-left: 2em;

}

@font-face {
    font-family: myFirstFont;
    src: url('OpenSans-Regular.ttf');
}

.headline:hover{
  cursor: default;
}

.subHeadline:hover{
  cursor: default;
}

.test{
  margin-top: 2em;
  border-left: 3px solid rgba(58, 58, 58, 0.701961);
  border-right: 3px solid rgba(58, 58, 58, 0.701961);
  font-family: myFirstFont;
  color: rgba(58, 58, 58, 0.701961);
  margin-bottom: 1em;
}

.hand:hover{
  color: rgba(58, 58, 58, 0);
  background: url(./hand.png) no-repeat center;
  background-size: contain;
  cursor: default;
}

.calm:hover{
  color: rgba(58, 58, 58, 0);
  background: url(./calm.png) no-repeat center;
  background-size: contain;
  cursor: default;
}

.baby:hover{
  color: rgba(58, 58, 58, 0);
  background: url(./baby.png) no-repeat center;
  background-size: contain;
  cursor: default;
}

.juicer-feed::-webkit-scrollbar { 
    display: none; 
}
.space{
  color: rgba(0,0,0, 0)
}






